language: python
os: linux
dist: xenial
env:
  global:
    - POETRY_VIRTUALENVS_CREATE=false

before_install:
  - pip install poetry

install:
  - poetry install -v

script:
  pytest .

jobs:
  include:
    - stage: quality
      name: black
      script: black . --check
    - name: isort
      script: isort . --check
    - name: flake8
      script: flake8 .
    - stage: test
      python: 3.6
    - python: 3.7
    - python: 3.8
    - python: 3.9-dev
    - stage: publish
      script: skip
      deploy:
        provider: script
        script: poetry publish --build -u $PYPI_USERNAME -p $PYPI_PASSWORD
        cleanup: false
        on:
          tags: true
